
.table1{
  font-size: 10px;
}

.title2{
  color:#0E8363;
}
.names {
  margin-top: 40px;
  margin-bottom:40px;

  p{
font-size: 20px;
  }

  strong{
    color: #0E8363;
  }
}


.avatar-large {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-color: #0E8363;
}


.sep {
    width: 100%;
    height: 1px;
    background-color: #c8c8c8;
    margin: 24px auto;
    clear: both;
  }

.carousel-inner > .item {
  height: 50vh;
  width: 100%;
  border: black;
  h1, h2, p {
    text-shadow: 2px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
}

.boat-carousel-image {
  height: 50vh;
  background-size: cover;
  background-position: center;
}

.carousel-caption{
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.search-banner {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 30px;
  padding-bottom: 50px;
  border-bottom: 1px solid #0E8363;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  p{
    color: white;
    text-shadow: 1px 1px black;
  }
}

button, select, textarea {
  color: black;

}

#banner-content {
  text-align: center;
  p {
    color: #0E8363;
    font-size: 14px;
  }
}

.form-control-label{
  border-color:black;
}

.formwave{
  background-color: #0E8363;
  color: white;
  // background-image: url('https://kids.nationalgeographic.com/content/dam/kids/photos/articles/Nature/H-P/Habitats/Ocean/wave.ngsversion.1500050062134.adapt.1900.1.jpg');
  display: flex;
  // background-size: cover;
  justify-content: center;
  height: 110vh;
  padding-top: 35px;
  padding-bottom: 10px;
  font-size: 15px;
  // padding-bottom: 90px;
}

#boat-index {
  margin-top: 50px !important;
}

#bubble-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.boats-cards {
  background-color: white;
  padding: 10px 20px;
  padding-bottom: 0px;
  height: 60vh;
  overflow: scroll;
  border-right: 1px solid #0E8363;
  display: flex;
  flex-wrap: wrap;
  a {
    padding: 10px 15px;
    text-decoration: none;
    color: white;
  }
  a:hover {
    color: white;
    text-decoration: none;
  }
}


.card {
  background-size: cover;
  background-position: center;
  width: 235px;
  height: 140px;
  border-radius: 3px;
  padding: 10px;
  position: relative;
  border-radius: 20px;
  &:hover {
    // TRANSITION
    box-shadow: 2px 2px 4px black;
  }
}

.card-description {
  position: absolute;
  bottom: 10px;
  h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
  }
  p {
    font-size: 14px;
    margin: 0px;
  }
}

.boats-taken {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  img {
    height: 250px;
    margin-bottom: -43px;
  }
  p {
    margin: 0;
    font-size: 14px;
    color: #0E8363;
    font-weight: bold;
  }
}



.bubble img {
}

.button:hover {
  color: black;
  background-color: white;
    /*-webkit-transtion: background-color 250ms linear;*/
  }




.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  border-top: 1px solid #0E8363;
  margin-top: 0px;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #0E8363;
  opacity: 0.55;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-copyright{
  font-size: 12px;
  color: #0E8363;
}




.section {
  h3 {
    margin-top: 0px;
    margin-bottom: 0;
  }
  color: #0E8363;
  text-align:center;
}





@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}


.bubble {
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  border: 5px white solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  background-color: white;
  img { width: 100%; height: auto; }
}

#boat_type {
  color: #0E8363;
  font-size: 12px;
}

#boat-search-submit {
  color: #0E8363;
  font-size: 12px;
}

.content {
  width: 100%;
  max-width: 600px;
  padding: 20px 40px;
  box-sizing: border-box;
  text-align: center;
}

@font-face{
  font-family:'GalaxieCondensedMedium';src:url("https://dl.dropboxusercontent.com/s/dgr55wytmqb35f3/PolarisCondensed-Medium.woff") format("woff");
  font-weight:normal;
  font-style: normal
}

.live-chat-galaxie {
  font-family: 'GalaxieCondensedMedium';
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 0.02em;
  line-height: 0.8em;
  text-transform: uppercase;
}

.live-chat-transition {
  transition:all 0.5s ease;
}

#live-chat {
  background: #f5f5f5;
  border: 1px solid #d0d3d6;
  bottom: -187px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  float: left;
  height: 223px;
  margin: 0 auto;
  right: 60px;
  position: fixed;
  text-align: center;
  width: 185px;
}

#live-chat.open-chat {
  bottom: -1px;
}

#chat-label {
  background: #008fb0;
  height: 35px;
  cursor: pointer;
  position: relative;
}

#chat-label h4 {
  color: #ffffff;
  height: 13px;
  left: 55px;
  margin: 0;
  position: absolute;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
  width: 85px;
}

.live-chat-arrow {
  height: 9px;
  padding-left: 9px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
}

.live-chat-down-arrow {
  opacity: 0;
  transform: rotate(180deg) translateY(-50%);
}

.hide-up-arrow {
  opacity: 0;
  padding: 0;
  transform: rotate(180deg) translateY(-50%);
  transform-origin: center;
}

.show-down-arrow {
  opacity: 1;
  padding: 0;
  transform: rotate(0deg) translateY(-50%);
  transform-origin: center;
}

#chat-label.open-chat-label {
  background: #d0d3d6;
}

#chat-label.open-chat-label h4 {
  color: #262526;
}

#live-chat p {
  color: #262526;
  font-family: arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 17px;
  margin: 20px auto;
  width: 135px;
}

#chat-button {
  background: #008fb0;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  padding: 12px 0 11px 0;
  text-decoration: none;
  width: 140px;
}

#chat-button:hover {
  background: #06748e;
}





@font-face{
  font-family:'GalaxieCondensedMedium';src:url("https://dl.dropboxusercontent.com/s/dgr55wytmqb35f3/PolarisCondensed-Medium.woff") format("woff");
  font-weight:normal;
  font-style: normal
}

.live-chat-galaxie {
  font-family: 'GalaxieCondensedMedium';
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 0.02em;
  line-height: 0.8em;
  text-transform: uppercase;
}

.live-chat-transition {
  transition:all 0.5s ease;
}

#live-chat {
  background: #f5f5f5;
  border: 1px solid #d0d3d6;
  bottom: -187px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  float: left;
  height: 223px;
  margin: 0 auto;
  right: 60px;
  position: fixed;
  text-align: center;
  width: 185px;
}

#live-chat.open-chat {
  bottom: -1px;
}

#chat-label {
  background: #0E8363;
  height: 35px;
  cursor: pointer;
  position: relative;
}

#chat-label h4 {
  color: #ffffff;
  height: 13px;
  left: 55px;
  margin: 0;
  position: absolute;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
  width: 85px;
}

.live-chat-arrow {
  height: 9px;
  padding-left: 9px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
}

.live-chat-down-arrow {
  opacity: 0;
  transform: rotate(180deg) translateY(-50%);
}

.hide-up-arrow {
  opacity: 0;
  padding: 0;
  transform: rotate(180deg) translateY(-50%);
  transform-origin: center;
}

.show-down-arrow {
  opacity: 1;
  padding: 0;
  transform: rotate(0deg) translateY(-50%);
  transform-origin: center;
}

#chat-label.open-chat-label {
  background: #d0d3d6;
}

#chat-label.open-chat-label h4 {
  color: #262526;
}

#live-chat p {
  color: #262526;
  font-family: arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 17px;
  margin: 20px auto;
  width: 135px;
}

#chat-button {
  background: #008fb0;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  padding: 12px 0 11px 0;
  text-decoration: none;
  width: 140px;
}

#chat-button:hover {
  background: #06748e;
}




// .grid {
//   width: 100%;
//   max-width: 1140px;
//   min-width: 755px;
//   margin: 0 auto;
//   padding: 0;
//   font-size: 100%;
//   border: 0;
//   font: inherit;
//   vertical-align: baseline;
//   color: #6a7580;
//   text-align:center;
//  h4{
//   font-size: 14px;
//  }
// li{
//   font-size: 12px;
// }
// }

// ul li {
//   margin: 40px 0;
//   padding-left: 40px;
//   line-height: 2em;
//   text-align: left;
//   font-size: 15px;
//   color: #6a7580;
// }
