.sep {
    width: 100%;
    height: 1px;
    background-color: #c8c8c8;
    margin: 24px auto;
    clear: both;
  }

.carousel-inner > .item {
  height: 50vh;
  width: 100%;
  border: black;
  h1, h2, p {
    text-shadow: 2px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

}

.carousel-caption{
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.banner {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px;
  background-color: #0E8363;

  p{
    color: white;
    text-shadow: 1px 1px black;
  }
}

button, select, textarea {
  color: black;

}

// #banner-content {
//   text-align: center;
// }

.form-control-label{
  border-color:black;
}

.formwave{
  background-color: #0E8363;
  color: #0E8363;
  // background-image: url('https://kids.nationalgeographic.com/content/dam/kids/photos/articles/Nature/H-P/Habitats/Ocean/wave.ngsversion.1500050062134.adapt.1900.1.jpg');
  background-size: cover;
  justify-content: center;
  height: 110vh;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  // padding-bottom: 90px;
}

#boat-index {
  margin-top: 50px !important;
}

#bubble-container {
  margin-top: 20px;
  margin-bottom: 10px;
}


// // Specific CSS for your home-page
// header {
//   display: flex;
//   width: 100%;
//   position: fixed;
//   z-index: 1;
//   height: 64px;
//   align-items: center;
//   background-color: white;
// }


.bubble img {
}

// nav {
//   text-align: right;
//   padding-right: 24px;
//   flex-grow: 1;
//   width: 100%;
// }

// nav span {
//   display: inline-block;
//   padding: 12px;
//   text-decoration: none;
//   transition: all 0.3s ease 0s;
// }

// h3{
//   text-align: center;
//   font-size: 20px;
// }


// span{
//   color: #0E8363;

// }
// a:hover {
//   font-weight: bold;
//   transition:font-weight 0.3s ease 0s;
//   text-decoration: none;
// }
// .mobile {
//   display: none;
// }
// a {
//   color: inherit;
//   text-decoration: none;
// }

// .menu{
//   color: #0E8363;
//   border-color: black;
//   text-align: right;
// }

// .menu2{
//   font-size: 15px;
// }

.button:hover {
  color: black;
  background-color: white;
    /*-webkit-transtion: background-color 250ms linear;*/
  }

//   .button {
//     background-color: dimgray;
//     font-weight: bold;
//     width: 60%;
//     margin: 0;
//     text-align: center;
//     transition: all 0.3s ease 0s;
//   }


//   .banner {
//     color: white;
//     text-align: center;
//     height: 55vh;
//     background-size: cover !important;
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-align: center;
//     -ms-flex-align: center;
//     align-items: center;
//     -webkit-box-pack: center;
//     -ms-flex-pack: center;
//     justify-content: center;
//     background-position: center;
//     text-shadow: 1px 1px 1px #000;
//     margin-top: 20px;
//   }


  // .banner-content {
  //   h2 {
  //    color:white;
  //    font-size: 20px;
  //  }
//  }

// // .item {
// //   height: 90vh;
// // }


//  .carousel-caption{
//   h1 {
//     color:white;
//      font-size: 30px;
//      text-align: center;
//      text-shadow: 1px 1px 1px #000;
//      text-border: black;
//       right: 58%;
//       left: auto;
//        top: auto;
//   }
//   h2 {
//     color:white;
//      font-size: 30px;
//      text-align: center;
//      text-border: black;
//      text-shadow: 1px 1px 1px #000;
//   }
//  }

//  .carousel-inner{
//   height: 75vh;
//  }


.card {
  height: 175px;
  weight:50px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 50px;
}

.container{
  margin-top: 10px;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;

}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.1;
  font-weight: lighter;
  color:white;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);

}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #0E8363;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-copyright{
  font-size: 12px;
  color: #0E8363;
}

.form-group {
  color:white;
}


.section{
  color:#0E8363;
  text-align:center;
}

// // search bar
// @import url(https://fonts.googleapis.com/css?family=Open+Sans);

// body{
//   background: #f2f2f2;
//   font-family: 'Open Sans', sans-serif;
// }

// .search {
//   width: 100%;
//   position: relative
// }

// .searchTerm {
//   float: left;
//   width: 100%;
//   border: 3px solid #0E8363;
//   padding: 2px;
//   height: 35px;
//   border-radius: 5px;
//   outline: none;
//   color: #9DBFAF;
// }

// .searchTerm:focus{
//   color: #0E8363;
// }

// // .searchButton {
// //   position: absolute;
// //   right: -50px;
// //   width: 40px;
// //   height: 36px;
// //   border: 1px solid #0E8363;
// //   background: #0E8363;
// //   text-align: center;
// //   color: #fff;
// //   border-radius: 5px;
// //   cursor: pointer;
// //   font-size: 20px;
// // }

// /*Resize the wrap to see the search bar change!*/
// .wrap{
//   width: 30%;
//   position: absolute;
//   top: 100%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

// label {
//     display: block;
//     font: 1rem 'Fira Sans', sans-serif;
// }

// input,
// label {
//     margin: .4rem 0;
// }

// .note {
//     font-size: .8em;
// }


// .left {
//   float:left;
// }




@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bubble {
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  border: 5px white solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  img { width: 100%; height: auto; }
}

.content {
  width: 100%;
  max-width: 600px;
  padding: 20px 40px;
  box-sizing: border-box;
  text-align: center;
}

@font-face{
  font-family:'GalaxieCondensedMedium';src:url("https://dl.dropboxusercontent.com/s/dgr55wytmqb35f3/PolarisCondensed-Medium.woff") format("woff");
  font-weight:normal;
  font-style: normal
}

.live-chat-galaxie {
  font-family: 'GalaxieCondensedMedium';
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 0.02em;
  line-height: 0.8em;
  text-transform: uppercase;
}

.live-chat-transition {
  transition:all 0.5s ease;
}

#live-chat {
  background: #f5f5f5;
  border: 1px solid #d0d3d6;
  bottom: -187px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  float: left;
  height: 223px;
  margin: 0 auto;
  right: 60px;
  position: fixed;
  text-align: center;
  width: 185px;
}

#live-chat.open-chat {
  bottom: -1px;
}

#chat-label {
  background: #008fb0;
  height: 35px;
  cursor: pointer;
  position: relative;
}

#chat-label h4 {
  color: #ffffff;
  height: 13px;
  left: 55px;
  margin: 0;
  position: absolute;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
  width: 85px;
}

.live-chat-arrow {
  height: 9px;
  padding-left: 9px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
}

.live-chat-down-arrow {
  opacity: 0;
  transform: rotate(180deg) translateY(-50%);
}

.hide-up-arrow {
  opacity: 0;
  padding: 0;
  transform: rotate(180deg) translateY(-50%);
  transform-origin: center;
}

.show-down-arrow {
  opacity: 1;
  padding: 0;
  transform: rotate(0deg) translateY(-50%);
  transform-origin: center;
}

#chat-label.open-chat-label {
  background: #d0d3d6;
}

#chat-label.open-chat-label h4 {
  color: #262526;
}

#live-chat p {
  color: #262526;
  font-family: arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 17px;
  margin: 20px auto;
  width: 135px;
}

#chat-button {
  background: #008fb0;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  padding: 12px 0 11px 0;
  text-decoration: none;
  width: 140px;
}

#chat-button:hover {
  background: #06748e;
}





@font-face{
  font-family:'GalaxieCondensedMedium';src:url("https://dl.dropboxusercontent.com/s/dgr55wytmqb35f3/PolarisCondensed-Medium.woff") format("woff");
  font-weight:normal;
  font-style: normal
}

.live-chat-galaxie {
  font-family: 'GalaxieCondensedMedium';
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 0.02em;
  line-height: 0.8em;
  text-transform: uppercase;
}

.live-chat-transition {
  transition:all 0.5s ease;
}

#live-chat {
  background: #f5f5f5;
  border: 1px solid #d0d3d6;
  bottom: -187px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  float: left;
  height: 223px;
  margin: 0 auto;
  right: 60px;
  position: fixed;
  text-align: center;
  width: 185px;
}

#live-chat.open-chat {
  bottom: -1px;
}

#chat-label {
  background: #0E8363;
  height: 35px;
  cursor: pointer;
  position: relative;
}

#chat-label h4 {
  color: #ffffff;
  height: 13px;
  left: 55px;
  margin: 0;
  position: absolute;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
  width: 85px;
}

.live-chat-arrow {
  height: 9px;
  padding-left: 9px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
}

.live-chat-down-arrow {
  opacity: 0;
  transform: rotate(180deg) translateY(-50%);
}

.hide-up-arrow {
  opacity: 0;
  padding: 0;
  transform: rotate(180deg) translateY(-50%);
  transform-origin: center;
}

.show-down-arrow {
  opacity: 1;
  padding: 0;
  transform: rotate(0deg) translateY(-50%);
  transform-origin: center;
}

#chat-label.open-chat-label {
  background: #d0d3d6;
}

#chat-label.open-chat-label h4 {
  color: #262526;
}

#live-chat p {
  color: #262526;
  font-family: arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 17px;
  margin: 20px auto;
  width: 135px;
}

#chat-button {
  background: #008fb0;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  padding: 12px 0 11px 0;
  text-decoration: none;
  width: 140px;
}

#chat-button:hover {
  background: #06748e;
}




.grid {
  width: 100%;
  max-width: 1140px;
  min-width: 755px;
  margin: 0 auto;
  padding: 0;
  font-size: 100%;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  color: #6a7580;
  text-align:center;
 h4{
  font-size: 14px;
 }
li{
  font-size: 12px;
}
}

ul li {
  margin: 40px 0;
  padding-left: 40px;
  line-height: 2em;
  text-align: left;
  font-size: 15px;
  color: #6a7580;
}
