.showimage{
    color: white;
    text-border: black;
    text-align: center;
    height: 60vh;
    background-size: cover !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-position: center;
    text-shadow: 1px 1px 1px #000;
    margin: 0;
}


.btn-primary{
background-color: #0E8363;
}



// h2 {
//   color: white;
// }
