
<div class="banner banner1">
  <div class="container">
    <div class="banner-content">
      <div>
        <h1>Rent a boat today</h1>
        <p>Come Sea Us</p>
        <%= render "form"%>
      </div>
    </div>
  </div>
</div>
