<% title 'Booking - '+ @boat.name %>


<div class="banner banner1">
  <div class="container-fluid">
    <div class="banner-content1">
      <div>
        <h1>Pick a date</h1>
        <h2>Come Sea Us</h2>
        <%= render "form"%>
      </div>
    </div>
  </div>
</div>
