<img src="https://res.cloudinary.com/deruwllkv/image/upload/v1542141008/ijsgysweef7iiagibbbm.svg" alt="confirmation tick">

<p>Booking confirmed</p>

<p>Boat name:</p>

<%= @booking.boat.name %>

<p>Start date:</p>

<%= @booking.start_date %>

<p>End date:</p>

<%= @booking.end_date %>


