   <div class="navbar">
      <header>
        <img class="menu" src="https://s3.us-east-2.amazonaws.com/ajpics/codecademy+capstone/ic-logo.svg" />
        <h class="menu"><b>Le</b>Bateau</h>
        <nav class="menu">
          <span class="menu"><a href="#">Log In</a></span>
        </nav>


        <nav class="mobile">
          <a href="#"><img src="https://s3.us-east-2.amazonaws.com/ajpics/codecademy+capstone/ic-login.svg" alt="Log-In"></a>
        </nav>

      </header>
    </div>
  </div>
