<!DOCTYPE html>
<html>

<div class="header">
  <head>
    <link rel="stylesheet" href="style.css" />
    <title>Le Bateau</title>
  </head>

  <body>
    <!--header -navbar-->
    <div class="navbar">
      <header>
        <img class="menu" src="https://s3.us-east-2.amazonaws.com/ajpics/codecademy+capstone/ic-logo.svg" />
        <h class="menu"><b>Le</b>Bateau</h>
        <nav class="menu">
          <span class="menu"><a href="#">Log In</a></span>
        </nav>


        <nav class="mobile">
          <a href="#"><img src="https://s3.us-east-2.amazonaws.com/ajpics/codecademy+capstone/ic-login.svg" alt="Log-In"></a>
        </nav>

      </header>
    </div>
  </div>

  <!-- Banner -->

  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,0,0,0.6) 60%), url("");">

    <div class="col-1-1">
      <div class="row">
        <div class="banner-content">
          <h1>Rent a boat, ¡Easy & Safe!</h1>
          <h2>Your best choice!</h2>

        </div>
      </div>
    </div>
  </div>


  <!-- cards -->

<div class= "container">

</div>
<%= render "footer" %>
  <!-- footer -->


</body>

