<html>
<h1> <%= @boat.name %> </h1>

<div title="random boat #1" data-href="https://sailo.s3.amazonaws.com/media/boats/2016/10/rental-Sail-boat-Tayana-37feet-New_York-NY_vfRbNUn.jpg" class="bgCover" style="background-image: url('https://prodwebassets.s3.amazonaws.com/boats/4681976/4681976_20140410082304491_1_XLARGE.jpg')">



</html>
