.banner1 {
  background-color: #0E8363;
  color: #0E8363;
  background-image: url('https://kids.nationalgeographic.com/content/dam/kids/photos/articles/Nature/H-P/Habitats/Ocean/wave.ngsversion.1500050062134.adapt.1900.1.jpg');
  background-size: cover;
  display:flex;
  justify-content: center;
  height: 100vh;
  border-color: black;
   text-shadow: 1px 1px black;
}

.banner-content1 {
h2 {
  color: white;
  text-shadow: 1px 1px black;
}
}


.container {
  display: flex;
  align-items: center;
}


.banner-content1 h1 {
    color: #0E8363;
text-shadow: 1px 1px black;
  }
