// body {
//   text-align: center
// }


#tick-Nick {
  height: 120px;
}

// p {

//   color: green
// }

.green-Nick {
  color: green
}

.black-Nick {
  color: black
}

.wrapper-Nick {
  // background-color: #0E8363;
  text-align: center;
  background-color: rgb(220, 245, 247);
  color: #0E8363;
  // background-image: url('assets/images/ocean.jpg');
  background-size: cover;
  justify-content: center;
  height: 100vh
}
