// body {
//   text-align: center
// }


#tick-Nick {
  height: 130px;
  margin-bottom: 10px;
}

// p {

//   color: green
// }

.green-Nick {
  color: green
}

.black-Nick {
  color: black
}

.wrapper-Nick {
  // background-color: #0E8363;
  text-align: center;
  background-color: white;
  color: #0E8363;
  // background-image: url('assets/images/ocean.jpg');
  background-size: cover;
  justify-content: center;
  height: 100vh;
  display: flex;
  padding-top: 80px;
   border-top: 1px solid #0E8363;
  margin-top: 0px;
}
